@model VD.Models.TinUngTuyen
@{
    ViewBag.Title = "Chi tiết tin ứng tuyển";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/QLTinUngTuyen/Home_QLTUT" class="nav-link">Quản lý tin ứng tuyển</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Cập nhật trạng thái</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Edit_TT", "QLTinUngTuyen", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.ID_TUT)
                    <div class="form-group">
                        <label for="HoTen">Họ và tên</label>
                        <input type="text" class="form-control" id="HoTen" name="HoTen" value="@Model.HoTen" required>
                    </div>
                    <div class="form-group">
                        <label for="SDT">Số điện thoại</label>
                        <input type="text" class="form-control" id="SDT" name="SDT" value="@Model.SDT" required>
                    </div>
                    <div class="form-group">
                        <label for="DOB">Ngày tháng năm sinh</label>
                        <input type="text" class="form-control" id="DOB" name="DOB" value="@Model.DOB.ToShortDateString()" required>
                    </div>
                    <div class="form-group">
                        <label for="GioiTinh">Giới tính:</label>
                        <select class="form-control" id="GioiTinh" name="GioiTinh" required>
                            <option value="@Model.GioiTinh">@Model.GioiTinh</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
                    </div>
                    <div class="form-group">
                        <label for="PhucLoi">Phúc lợi</label>
                        <input type="text" class="form-control" id="PhucLoi" name="PhucLoi" value="@Model.PhucLoi">
                    </div>
                    <div class="form-group">
                        <label for="MucLuong">Mức lương</label>
                        <input type="text" class="form-control" id="MucLuong" name="MucLuong" value="@Model.MucLuong">
                    </div>
                    <div class="form-group">
                        <label for="CapBac">Cấp bậc</label>
                        <input type="text" class="form-control" id="CapBac" name="CapBac" value="@Model.CapBac">
                    </div>
                    <div class="form-group">
                        <label for="KinhNghiemLV">Kinh nghiệm làm việc</label>
                        <input type="text" class="form-control" id="KinhNghiemLV" name="KinhNghiemLV" value="@Model.KinhNghiemLV">
                    </div>
                    <div class="form-group">
                        <label for="TrinhDoHocVan">Trình độ học vấn</label>
                        <input type="text" class="form-control" id="TrinhDoHocVan" name="TrinhDoHocVan" value="@Model.TrinhDoHocVan">
                    </div>
                    <div class="form-group">
                        <label for="KyNangChuyenMon">Kỹ năng chuyên môn</label>
                        <input type="text" class="form-control" id="KyNangChuyenMon" name="KyNangChuyenMon" value="@Model.KyNangChuyenMon">
                    </div>
                    <div class="form-group">
                        <label for="ID_LV">Lĩnh vực</label>
                        <select class="form-control" id="ID_LV" name="ID_LV" required>
                            <option value="">Chọn Lĩnh vực</option>
                            @foreach (var lv in ViewBag.LinhVucs)
                            {
                                <option value="@lv.ID_LV" @Html.Raw(lv.ID_LV == Model.ID_LV ? "selected" : "")>@lv.TenLV</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ID_NN">Ngành nghề</label>
                        <select class="form-control" id="ID_NN" name="ID_NN" required>
                            <option value="">Chọn ngành nghề</option>
                            @foreach (var nn in ViewBag.NganhNghes)
                            {
                                <option value="@nn.ID_NN" @Html.Raw(nn.ID_NN == Model.ID_NN ? "selected" : "")>@nn.TenNN</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ID_DD">Địa điểm</label>
                        <select class="form-control" id="ID_DD" name="ID_DD" required>
                            <option value="">Chọn địa điểm</option>
                            @foreach (var dd in ViewBag.DiaDiems)
                            {
                                <option value="@dd.ID_DD" @Html.Raw(dd.ID_DD == Model.ID_DD ? "selected" : "")>@dd.TenDD</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="TrangThaiTUT">Trạng thái</label>
                        <select class="form-control" id="TrangThaiTUT" name="TrangThaiTUT">
                            <option value="@Model.TrangThaiTUT">@Model.TrangThaiTUT</option>
                            <option value="Chờ xác nhận">Chờ xác nhận</option>
                            <option value="Xác nhận">Xác nhận</option>
                            <option value="Từ chối">Từ chối</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <a href="/Admin/QLTinUngTuyen/Home_QLTUT" class="btn btn-danger">Quay lại</a>
                        <button type="submit" class="btn btn-primary">Cập nhật trạng thái</button>
                    </div>
                }
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

</section>
<!-- /.content -->
